# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# ESP-IDF (if used later)
build/
sdkconfig
sdkconfig.old

# Logs/artifacts
artifacts/
*.log
